<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div>
        <h1>About</h1>
        <nav>
                <a href="index.html">Home</a>
                <a href="about.html">Login</a>
                <a href="contact.html">Add to List</a>
        </nav>
        <form action="">
            Username: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Submit">
        </form>
        
    </div>
</body>
</html>